<h1>Trips</h1>
<%= link_to 'Start New Trip', new_trip_path %>
<hr />

<h2<%= @trips.length <= 0 ? "No Trips" : " " %></h2>

<ul>
    <% @trips.each do |trip| %>
        <li>
        <%= link_to trip.name, trip %>
        </li>
    <% end %>
</ul>



