<h1>Add Trip</h1>

<%= form_with(model: @trip, local: true, class: "ui form" ) do |f| %>
    <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :start_date, :end_date required: true, placeholder: "Trip Name" %>
    </div>

    <%= f.sumbit nil, class: "ui blue button inverted" %>
<% end %>

