<h1>List of Addresses to Visit at <%= @location.name %>:</h1>
<%= link_to 'Add Address', new_location_address_path(@location) %>
<ul>
  <% @addresses.each do |address| %>
    <li><%= link_to "#{address.street}, #{address.state}", [@location, address] %></li>
  <% end %>
</ul>